DB_HOST=mysql-6dac13c-hivetrack.i.aivencloud.com
DB_PORT=12381
DB_USER=avnadmin
DB_PASSWORD=PUT_YOUR_AIVEN_PASSWORD_HERE
DB_NAME=hivetrack2
DB_SSL=true
DB_CONNECTION_LIMIT=10
JWT_SECRET=hivetrack_secret_key
JWT_EXPIRES_IN=3h
